@media (max-width: 767px) {
    .center{
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex-direction: column;
    }
    .top{
        display: flex;
        gap: 33px;
        align-items: center;
        height: 735px;
        &__title{
            text-align: center;
            font-size: 32px;
            font-style: normal;
            max-width: 340px;
            padding-top: 238px;
        }
        &__text{
            text-align: center;
            font-size: 14px;
            font-style: normal;
            &_active{
                font-size: 14px;
                font-style: normal;
            }
        }
    }
    .content{
        height: 1221px;
        gap: 33px;
           &__game1{
            background-image:none;
            background-image: url(img/mobail_game1.svg);
        }
        &__game2{
            background-image:none;
            background-image: url(img/mobail_game2.svg);
        }
        &__game3{
            background-image:none;
            background-image: url(img/mobail_game3.svg);
        }
    }
    .section{
        display: flex;
        gap: 33px;
        align-items: center;
        height: 653px;
        padding-top: 51px;
        &__title{
            font-size: 32px;
            font-style: normal;
            text-align: center;
        }
        &__text{
            font-size: 14px;
            text-align: center;
            font-style: normal;
        }
        &__logo{
            gap: 64px;
            width: 344px;   
            height: 236px;
        }
    }
    .menu{
        display: flex;
        align-items: center;
        height: 653px;
        gap: 33px;
        flex-direction: column-reverse;
        padding-top: 51px;
        &__title{
            font-size: 32px;
            font-style: normal;
            text-align: center;
        }
        &__text{
            font-size: 14px;
            text-align: center;
            font-style: normal;
        }
        &__logo{
            width: 344px;   
            height: 236px;
        }
    }
}